* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
}

body {
    background: #1f242d;
    color: #fff;
}

.header {
    position: fixed;
    /* position: relative; */
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10px;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background-color: #1f242d;
}

.logo {
    font-size: 25px;
    color: #fff;
    text-decoration: none;
    cursor: default;
    padding: 0 10%;
    opacity: 0;
    animation: slideRight 1s ease forwards;
}

.red {
    color: red;
}

.navbar a {
    display: inline-block;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    margin-left: 30px;
    opacity: 0;
    animation: slideTop .5s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.navbar a:hover {
    color: aqua;
}

.toggle-btn {
    display: none;
}

.dropdown-menu {
    display: none;
    position: absolute;
    /* right: 2rem; */
    top: 60px;
    width: 100%;
    height: 0;
    background: #1f242d;
    /* backdrop-filter: blur(15px); */
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.open {
    height: 240px;
}

.dropdown-menu a {
    text-decoration: none;
    color: #fff;
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.dropdown-menu a:hover {
    color: aqua;
}

.home {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 10% 0;
}

.home-content {
    max-width: 600px;
}

.home-content h3 {
    font-size: 32px;
    font-weight: 700;
    opacity: 0;
    animation: slideBottom 1s ease forwards;
    animation-delay: .7s;
}

.home h3:nth-of-type(2) {
    margin-bottom: 30px;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: .7s;
}

.home-content h3 span {
    color: aqua;
}

.home-content h1 {
    font-size: 56px;
    font-weight: 700;
    margin: -3px 0;
    opacity: 0;
    animation: slideRight 1s ease forwards;
    animation-delay: 1s;
}

.home-content p {
    font-size: 16px;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}

.home-img img {
    max-width: 300px;
    margin-right: -20px;
    opacity: 0;
    animation: zoomIn 1s ease forwards, floatImage 4s ease-in-out infinite;
    animation-delay: 2s, 3s;
}

.social-media a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid aqua;
    border-radius: 50%;
    font-size: 20px;
    color: aqua;
    text-decoration: none;
    margin: 30px 15px 30px 0;
    transition: .5s ease;
    opacity: 0;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(.2s * var(--i));
}

.social-media a:hover {
    color: #1f242d;
    background-color: aqua;
    box-shadow: 0 0 20px aqua;
}

.btn {
    display: inline-block;
    padding: 12px 28px;
    background: aqua;
    border-radius: 40px;
    box-shadow: 0 0 10px aqua;
    font-size: 16px;
    color: #1f242d;
    letter-spacing: 1px;
    text-decoration: none;
    font-weight: 600;
    opacity: 0;
    animation: slideTop 1s ease forwards;
    animation-delay: 2s;
}

.heading {
    text-align: center;
    font-size: 4rem;
    position: relative;
    top: 3rem;
}

/* About */
.about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    background: #2e343e;
    /* border: 2px solid red; */
}
.about .heading{
    top: 0;
}
.about-img img {
    width: 20vw;
    margin-left: 12rem;
}

.about-content {
    margin-right: 8rem;
    margin: 10rem;

}



.about-content h2 {
    text-align: left;
    line-height: 1.2;
}

.about-content h3 {
    font-size: 2.6rem;
}

.about-content p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
    width: 35vw;
}

/* Services */
.services {
    /* border: 2px solid red; */
    position: relative;
    top: 4rem;
    margin: 16rem 0 10rem 0;
}
.services .heading{
    top: 4rem;
}
.services-container {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin: 7rem 8rem 6rem 8rem;
    padding-top: 70px;
}

.services-box {
    border: 2px solid #2e343e;
    width: 20vw;
    height: 45vh;
    background: #2e343e;
    border-radius: 12px;
}

.services-box i {
    font-size: 5rem;
    color: aqua;
}

.services-box p {
    margin: 1rem 0 3rem;
}

/* Porfolio */
.portfolio {
    margin-top:12rem;
    /* border: 2px solid red; */
}
.portfolio .heading{
    top: 6rem;
}
.portfolio h2 {
    margin-bottom: 4rem;
}

.portfolio-container {
    position: relative;
    top: 4rem;
    margin: 0 3rem 0rem 3rem;
    display: grid;
    grid-template-columns: repeat(3, 2fr);
    align-items: center;
    row-gap: 3rem;
    column-gap: 0rem;
}

.portfolio-container .portfolio-box {
    margin: 0rem 2rem 0rem 2rem;
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem #2e343e;
    overflow-y: hidden;
    display: flex;
}

.portfolio-box img {
    width: 20vw;
    height: 15vw;
}

.portfolio-box .portfolio-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .1), aqua);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.portfolio-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    background: #fff;
    border-radius: 50%;
}
.portfolio-layer a i{
    font-size: 1rem;
    color: #1f242d;
}
/* Contact */
.contact{
    margin: 10rem;
    position: relative;
    top: 4rem;
}
.contact .heading{
    top: 1rem;
}
.form{
    display: grid;
    grid-template-columns:repeat(2,1fr) ;
    margin: 3rem 0 0 3rem;
    width: 47rem;
    gap: 1rem;
    /* justify-content: center; */
}
.form2{
    display: flex;
    justify-content: center;
}
.form3{
    display: flex; 
    justify-content: center;
}
.form4{
    display: flex;
    justify-content: center;
    margin: 2rem;
}
.form4 .btn{
    margin-bottom: 2rem;
}
.address{
    margin: 1rem 0 0 -1rem;
    width: 47rem;
    height: 14rem;
    background: #2e343e;
    border: none;
    position: relative;
    left: 2rem;
    border-radius: 10px;
}
.box{
    width: 23rem;
    height: 4rem;
    background: #2e343e;
    border: none;
    border-radius: 10px;
}
::placeholder{
    color: #fff;
    position: relative;
    left: 1rem;
    bottom: 30%;
}
/* Footer */
.foot{
    background: #2e343e;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 4rem;
}
.foot p{
    position: relative;
    right: 15%;
}
.foot a{
    width: 2.3rem;
    position: relative;
    font-size: 2rem;
    color: #1f242d;
    background-color: aqua;
    border-radius: 12px;
    box-shadow: 0 0 10px aqua;
    left: 15%;
}
.foot a i {
    position: relative;
    left: 2.5px;
}
/* KEYFRAMES ANIMATION */
@keyframes slideRight {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slideBottom {
    0% {
        transform: translateY(-100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideTop {
    0% {
        transform: translateY(100px);
        opacity: 0;
    }

    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slideLeft {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }

    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes zoomIn {
    0% {
        transform: scale(0);
        opacity: 0;
    }

    100% {
        transform: scale(1);
        opacity: 1;
    }
}

@keyframes floatImage {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-24px);
    }

    100% {
        transform: translateY(0);
    }
}

